In [1]:
import pandas as pd

In [2]:
check = pd.read_csv('check/category-ratios.csv')

In [3]:
check

      From_Category To_Category  Ratio_of_human_to_shortest
0             C0001       C0001                    1.761231
1             C0001       C0002                    1.858283
2             C0001       C0003                    1.878590
3             C0001       C0004                    1.797299
4             C0001       C0005                    1.693127
...             ...         ...                         ...
15351         C0146       C0141                    2.250000
15352         C0146       C0142                    1.500000
15353         C0146       C0144                    1.000000
15354         C0146       C0145                    2.000000
15355         C0146       C0146                    1.333333

[15356 rows x 3 columns]