In [1]:
import pandas as pd

In [2]:
path = "wikispeedia_paths-and-graph/"
df = pd.read_csv(path+'categories.tsv',sep='\t',names=['article','category'])

In [3]:
categories = df['category']

In [4]:
main = [0]*len(categories)

In [5]:
for i in range(len(categories)):
    main[i] = categories[i].split('.')

In [6]:
len(main)

5204

In [7]:
len(categories)

5204

In [8]:
max_len = 1
for array in main:
    if len(array)>max_len:
        max_len = len(array)

In [9]:
max_len

4

In [10]:
cat = [[],[],[],[]]
maincat = [[],[],[],[]]

In [11]:
for i in range(4):
    for j in range(len(main)):
        if (i<len(main[j])):
            name = (main[j])[0]
            for loop in range(1,i+1):
                name = name+"."+(main[j])[loop]
            if name not in maincat[i]:
#                 cat[i].append((main[j])[i])
#                 if (main[j])[i] == 'Artists':
#                     print(name)
                maincat[i].append(name)

In [12]:
maincat[0] = 'subject'

In [13]:
maincat

['subject',
 ['subject.History',
  'subject.People',
  'subject.Countries',
  'subject.Geography',
  'subject.Business_Studies',
  'subject.Science',
  'subject.Everyday_life',
  'subject.Design_and_Technology',
  'subject.Music',
  'subject.IT',
  'subject.Language_and_literature',
  'subject.Mathematics',
  'subject.Religion',
  'subject.Art',
  'subject.Citizenship'],
 ['subject.History.British_History',
  'subject.People.Historical_figures',
  'subject.Geography.European_Geography',
  'subject.People.Artists',
  'subject.Business_Studies.Currency',
  'subject.History.General_history',
  'subject.History.Military_History_and_War',
  'subject.Science.Physics',
  'subject.Everyday_life.Sports_events',
  'subject.Geography.Storms',
  'subject.History.Recent_History',
  'subject.Geography.Geology_and_geophysics',
  'subject.Geography.Natural_Disasters',
  'subject.Design_and_Technology.Railway_transport',
  'subject.People.Sports_and_games_people',
  'subject.Science.Biology',
  'subject.Music.Performers_and_composers',
  'subject.IT.Computing_hardware_and_infrastructure',
  'subject.Business_Studies.Companies',
  'subject.Language_and_literature.Novels',
  'subject.Music.Musical_genres_styles_eras_and_events',
  'subject.Everyday_life.Everyday_life',
  'subject.Geography.Geography_of_the_Middle_East',
  'subject.History.Ancient_History_Classical_History_and_Mythology',
  'subject.Religion.Religious_movements_traditions_and_organizations',
  'subject.Language_and_literature.Theatre',
  'subject.People.Geographers_and_explorers',
  'subject.Geography.Geography_of_Great_Britain',
  'subject.Religion.Religious_texts',
  'subject.Geography.African_Geography',
  'subject.Geography.Geography_of_Asia',
  'subject.People.Writers_and_critics',
  'subject.People.USA_Presidents',
  'subject.Everyday_life.Drink',
  'subject.Art.Art',
  'subject.Business_Studies.Business',
  'subject.Science.Chemistry',
  'subject.Citizenship.Environment',
  'subject.Geography.General_Geography',
  'subject.Business_Studies.Economics',
  'subject.Geography.Geography_of_Oceania_Australasia',
  'subject.People.Religious_figures_and_leaders',
  'subject.People.Political_People',
  'subject.Language_and_literature.Literature_types',
  'subject.Citizenship.Politics_and_government',
  'subject.Language_and_literature.Languages',
  'subject.Religion.Philosophy',
  'subject.IT.Websites_and_the_Internet',
  'subject.Everyday_life.Food_and_agriculture',
  'subject.Design_and_Technology.Air_and_Sea_transport',
  'subject.IT.Computer_Programming',
  'subject.People.Producers_directors_and_media_figures',
  'subject.Citizenship.Media',
  'subject.People.Mathematicians',
  'subject.People.Astronomers_and_physicists',
  'subject.People.Engineers_and_inventors',
  'subject.History.Pre_1900_Military',
  'subject.Religion.Religious_disputes',
  'subject.People.Military_People',
  'subject.People.Chemists',
  'subject.People.Monarchs_of_Great_Britain',
  'subject.Everyday_life.Sports_teams',
  'subject.Music.Musical_Recordings_and_compositions',
  'subject.Religion.Divinities',
  'subject.Language_and_literature.Poetry_and_Opera',
  'subject.Language_and_literature.Linguistics',
  'subject.Design_and_Technology.Engineering',
  'subject.Geography.North_American_Geography',
  'subject.Geography.Central_and_South_American_Geography',
  'subject.Geography.Mineralogy',
  'subject.Everyday_life.Sports',
  'subject.Geography.Peoples',
  'subject.People.Actors_models_and_celebrities',
  'subject.Design_and_Technology.Architecture',
  'subject.Citizenship.Animal_and_Human_Rights',
  'subject.Everyday_life.Computer_and_Video_games',
  'subject.Everyday_life.Films',
  'subject.History.World_War_II',
  'subject.Geography.Antarctica',
  'subject.People.Performers_and_composers',
  'subject.Citizenship.Conflict_and_Peace',
  'subject.Language_and_literature.General_Literature',
  'subject.History.Archaeology',
  'subject.IT.Software',
  'subject.People.Philosophers',
  'subject.Everyday_life.Recreation',
  'subject.History.Historians_chroniclers_and_history_books',
  'subject.People.Human_Scientists',
  'subject.Religion.Myths',
  'subject.Design_and_Technology.Road_transport',
  'subject.Geography.Climate_and_the_Weather',
  'subject.Everyday_life.Television',
  'subject.Everyday_life.Games',
  'subject.Citizenship.Community_organisations',
  'subject.Music.Musical_Instruments',
  'subject.Everyday_life.Cartoons',
  'subject.People.Computing_People',
  'subject.IT.Cryptography',
  'subject.Citizenship.Law',
  'subject.History.North_American_History',
  'subject.Citizenship.Culture_and_Diversity',
  'subject.Citizenship.Education',
  'subject.Art.Artists'],
 ['subject.History.British_History.British_History_1500_and_before_including_Roman_Britain',
  'subject.Geography.European_Geography.European_Countries',
  'subject.Science.Physics.Space_Astronomy',
  'subject.Science.Biology.Health_and_medicine',
  'subject.Science.Physics.General_Physics',
  'subject.Science.Biology.Mammals',
  'subject.Science.Biology.Plants',
  'subject.History.British_History.British_History_15001750',
  'subject.Geography.Geography_of_Asia.Asian_Countries',
  'subject.Geography.Geography_of_the_Middle_East.Middle_Eastern_Countries',
  'subject.Science.Chemistry.Chemical_compounds',
  'subject.Science.Chemistry.Chemical_elements',
  'subject.Science.Biology.General_Biology',
  'subject.Science.Biology.Birds',
  'subject.Science.Biology.Insects_Reptiles_and_Fish',
  'subject.Science.Biology.Dinosaurs',
  'subject.Science.Chemistry.General_Chemistry',
  'subject.Geography.African_Geography.African_Countries',
  'subject.Geography.Central_and_South_American_Geography.Central_and_South_American_Countries',
  'subject.Science.Physics.Space_transport',
  'subject.History.British_History.British_History_17501900',
  'subject.Science.Biology.Organisms',
  'subject.History.British_History.British_History_Post_1900',
  'subject.Science.Physics.Electricity_and_Electronics',
  'subject.Science.Biology.Evolution_and_reproduction',
  'subject.Science.Chemistry.Materials_science',
  'subject.Science.Physics.The_Planets']]

In [14]:
main_cat = ['subject']
for i in range(1,4):
    a = maincat[i]
    a.sort()
    main_cat = main_cat + a

In [15]:
main_cat

['subject',
 'subject.Art',
 'subject.Business_Studies',
 'subject.Citizenship',
 'subject.Countries',
 'subject.Design_and_Technology',
 'subject.Everyday_life',
 'subject.Geography',
 'subject.History',
 'subject.IT',
 'subject.Language_and_literature',
 'subject.Mathematics',
 'subject.Music',
 'subject.People',
 'subject.Religion',
 'subject.Science',
 'subject.Art.Art',
 'subject.Art.Artists',
 'subject.Business_Studies.Business',
 'subject.Business_Studies.Companies',
 'subject.Business_Studies.Currency',
 'subject.Business_Studies.Economics',
 'subject.Citizenship.Animal_and_Human_Rights',
 'subject.Citizenship.Community_organisations',
 'subject.Citizenship.Conflict_and_Peace',
 'subject.Citizenship.Culture_and_Diversity',
 'subject.Citizenship.Education',
 'subject.Citizenship.Environment',
 'subject.Citizenship.Law',
 'subject.Citizenship.Media',
 'subject.Citizenship.Politics_and_government',
 'subject.Design_and_Technology.Air_and_Sea_transport',
 'subject.Design_and_Technology.Architecture',
 'subject.Design_and_Technology.Engineering',
 'subject.Design_and_Technology.Railway_transport',
 'subject.Design_and_Technology.Road_transport',
 'subject.Everyday_life.Cartoons',
 'subject.Everyday_life.Computer_and_Video_games',
 'subject.Everyday_life.Drink',
 'subject.Everyday_life.Everyday_life',
 'subject.Everyday_life.Films',
 'subject.Everyday_life.Food_and_agriculture',
 'subject.Everyday_life.Games',
 'subject.Everyday_life.Recreation',
 'subject.Everyday_life.Sports',
 'subject.Everyday_life.Sports_events',
 'subject.Everyday_life.Sports_teams',
 'subject.Everyday_life.Television',
 'subject.Geography.African_Geography',
 'subject.Geography.Antarctica',
 'subject.Geography.Central_and_South_American_Geography',
 'subject.Geography.Climate_and_the_Weather',
 'subject.Geography.European_Geography',
 'subject.Geography.General_Geography',
 'subject.Geography.Geography_of_Asia',
 'subject.Geography.Geography_of_Great_Britain',
 'subject.Geography.Geography_of_Oceania_Australasia',
 'subject.Geography.Geography_of_the_Middle_East',
 'subject.Geography.Geology_and_geophysics',
 'subject.Geography.Mineralogy',
 'subject.Geography.Natural_Disasters',
 'subject.Geography.North_American_Geography',
 'subject.Geography.Peoples',
 'subject.Geography.Storms',
 'subject.History.Ancient_History_Classical_History_and_Mythology',
 'subject.History.Archaeology',
 'subject.History.British_History',
 'subject.History.General_history',
 'subject.History.Historians_chroniclers_and_history_books',
 'subject.History.Military_History_and_War',
 'subject.History.North_American_History',
 'subject.History.Pre_1900_Military',
 'subject.History.Recent_History',
 'subject.History.World_War_II',
 'subject.IT.Computer_Programming',
 'subject.IT.Computing_hardware_and_infrastructure',
 'subject.IT.Cryptography',
 'subject.IT.Software',
 'subject.IT.Websites_and_the_Internet',
 'subject.Language_and_literature.General_Literature',
 'subject.Language_and_literature.Languages',
 'subject.Language_and_literature.Linguistics',
 'subject.Language_and_literature.Literature_types',
 'subject.Language_and_literature.Novels',
 'subject.Language_and_literature.Poetry_and_Opera',
 'subject.Language_and_literature.Theatre',
 'subject.Music.Musical_Instruments',
 'subject.Music.Musical_Recordings_and_compositions',
 'subject.Music.Musical_genres_styles_eras_and_events',
 'subject.Music.Performers_and_composers',
 'subject.People.Actors_models_and_celebrities',
 'subject.People.Artists',
 'subject.People.Astronomers_and_physicists',
 'subject.People.Chemists',
 'subject.People.Computing_People',
 'subject.People.Engineers_and_inventors',
 'subject.People.Geographers_and_explorers',
 'subject.People.Historical_figures',
 'subject.People.Human_Scientists',
 'subject.People.Mathematicians',
 'subject.People.Military_People',
 'subject.People.Monarchs_of_Great_Britain',
 'subject.People.Performers_and_composers',
 'subject.People.Philosophers',
 'subject.People.Political_People',
 'subject.People.Producers_directors_and_media_figures',
 'subject.People.Religious_figures_and_leaders',
 'subject.People.Sports_and_games_people',
 'subject.People.USA_Presidents',
 'subject.People.Writers_and_critics',
 'subject.Religion.Divinities',
 'subject.Religion.Myths',
 'subject.Religion.Philosophy',
 'subject.Religion.Religious_disputes',
 'subject.Religion.Religious_movements_traditions_and_organizations',
 'subject.Religion.Religious_texts',
 'subject.Science.Biology',
 'subject.Science.Chemistry',
 'subject.Science.Physics',
 'subject.Geography.African_Geography.African_Countries',
 'subject.Geography.Central_and_South_American_Geography.Central_and_South_American_Countries',
 'subject.Geography.European_Geography.European_Countries',
 'subject.Geography.Geography_of_Asia.Asian_Countries',
 'subject.Geography.Geography_of_the_Middle_East.Middle_Eastern_Countries',
 'subject.History.British_History.British_History_15001750',
 'subject.History.British_History.British_History_1500_and_before_including_Roman_Britain',
 'subject.History.British_History.British_History_17501900',
 'subject.History.British_History.British_History_Post_1900',
 'subject.Science.Biology.Birds',
 'subject.Science.Biology.Dinosaurs',
 'subject.Science.Biology.Evolution_and_reproduction',
 'subject.Science.Biology.General_Biology',
 'subject.Science.Biology.Health_and_medicine',
 'subject.Science.Biology.Insects_Reptiles_and_Fish',
 'subject.Science.Biology.Mammals',
 'subject.Science.Biology.Organisms',
 'subject.Science.Biology.Plants',
 'subject.Science.Chemistry.Chemical_compounds',
 'subject.Science.Chemistry.Chemical_elements',
 'subject.Science.Chemistry.General_Chemistry',
 'subject.Science.Chemistry.Materials_science',
 'subject.Science.Physics.Electricity_and_Electronics',
 'subject.Science.Physics.General_Physics',
 'subject.Science.Physics.Space_Astronomy',
 'subject.Science.Physics.Space_transport',
 'subject.Science.Physics.The_Planets']

In [16]:
index = [0]*len(main_cat)
for i in range(len(main_cat)):
    index[i] = 'C'+str(i+1).zfill(4)

In [17]:
data = {'id':index ,'category':main_cat}

In [18]:
cat_df = pd.DataFrame(data,columns=['id','category'])

In [19]:
cat_df

        id                                           category
0    C0001                                            subject
1    C0002                                        subject.Art
2    C0003                           subject.Business_Studies
3    C0004                                subject.Citizenship
4    C0005                                  subject.Countries
..     ...                                                ...
141  C0142  subject.Science.Physics.Electricity_and_Electr...
142  C0143            subject.Science.Physics.General_Physics
143  C0144            subject.Science.Physics.Space_Astronomy
144  C0145            subject.Science.Physics.Space_transport
145  C0146                subject.Science.Physics.The_Planets

[146 rows x 2 columns]

In [20]:
cat_df.to_csv('category-ids.csv',index=False)

In [21]:
cat

[[], [], [], []]

In [22]:
cat_df

        id                                           category
0    C0001                                            subject
1    C0002                                        subject.Art
2    C0003                           subject.Business_Studies
3    C0004                                subject.Citizenship
4    C0005                                  subject.Countries
..     ...                                                ...
141  C0142  subject.Science.Physics.Electricity_and_Electr...
142  C0143            subject.Science.Physics.General_Physics
143  C0144            subject.Science.Physics.Space_Astronomy
144  C0145            subject.Science.Physics.Space_transport
145  C0146                subject.Science.Physics.The_Planets

[146 rows x 2 columns]